@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    background-color: #E6E6E6;
    font-family: 'Noto Sans', sans-serif;
}
.login-container{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-color: #9ACBFF;
    border:1px solid black;
    border-radius:5px;
    width: 25%;
    height: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
    flex-wrap: nowrap;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
.login-container label{
    margin-top: 10%;
}
.login-container .login-input{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border: none;
    border-bottom: 1px solid black;
    background-color: #9ACBFF;
    text-decoration: none;
    height: 10%;
    width: 40%;
    font-size: 20px;
    text-align: center;

}
.login-container img{
   padding-bottom: 50px;
    width: 50%;
    height: 30%;
}

.login-container #btn-login{

    border-radius: 3px;
    border: 1px solid black;
    background-color: #9ACBFF;
    margin-top: 40px;
    padding: 10px;
    width: 25%;
}
.login-container #btn-login:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
#error{
    text-align: center;
    background-color: #FF7171;
    margin-left: 25%;
    margin-right: 25%;
    

}
footer{
    font-size: 10px;
    text-align: center;
}

@media (max-width: 600px){
    body{
        height: 100%;
    }
    .login-container{
        margin-top: 25%;
        margin-bottom: 25%;
        width: 80%;
        
    }
}

@media (max-width: 600px){
    
}
